<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>v-if, v-else-if, v-else</title>
    </head>
    <body>
        <div id="root"></div>

        <script type="module">
            import Vue from 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.esm.browser.min.js';

            // Free < Premium < Pro
            new Vue({
                el: '#root',
                data: {
                    plan: 'pro'
                },
                methods: {
                    switchPlan( plan ) {
                        this.plan = plan;
                    }
                },
                template: `
                    <div>
                        Your current plan is {{plan}}
                        <div v-if="plan === 'free'">
                            You get to use feature a
                        </div>
                        <div v-else-if="plan === 'premium'">
                            You get to use features a, b
                        </div>
                        <div v-else>
                            You get to use features a, b, c
                        </div>
                        <!-- Add 3 buttons to switch to Free / Premium / Pro (manage the plan change using 1 method) --->
                        <button @click="switchPlan( 'free' )" v-if="plan !== 'free'">Switch to free</button>
                        <button @click="switchPlan( 'premium' )" v-if="plan !== 'premium'">Switch to premium</button>
                        <button @click="switchPlan( 'pro' )" v-if="plan !=='pro'">Switch to pro</button>
                    </div>
                `
            })
        </script>
    </body>
</html>