<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>v-model for inputs (2-way data-binding)</title>
    </head>
    <body>
        <div id="root"></div>

        <script type="module">
            import Vue from 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.esm.browser.min.js';

            new Vue({
                el: '#root',
                data: {
                    emailValue: '',
                    passwordValue: ''
                },
                methods: {
                    login( event ) {
                        event.preventDefault();

                        console.log( this.emailValue, this.passwordValue );

                        // reset input values
                        // when state updates, v-model makes sure that the inputs also follow the update
                        this.emailValue = '';
                        this.passwordValue = '';
                    }
                },
                template: `
                    <section>
                        <h1>Login</h1>
                        <hr />
                        <form @submit="login">
                            <div>
                                <input
                                    type="email"
                                    placeholder="your email"
                                    v-model="emailValue"
                                />
                                {{emailValue}}
                            </div>
                            <div>
                                <input
                                    type="password"
                                    placeholder="your password"
                                    v-model="passwordValue"
                                />
                                {{passwordValue}}
                            </div>
                            <button type="submit">Login</button>
                        </form>
                    </section>
                `,
            })
        </script>
    </body>
</html>