<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Components (small composable, reusable, customizable pieces of the UI)</title>
        <style>
            * {
                box-sizing: border-box;
            }

            .panel {
                border: 1px solid navy;
                border-radius: 5px;
            }

            .panel-heading,
            .panel-body {
                padding: 1em;
            }

            .panel-heading {
                background-color: navy;
                color: ivory;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>

        <script type="module">
            // minified Vue JS file does not warn on prop type violations
            // Vue JS devtools will not work with minified Vue JS file included - so we need to use non-minified version
            // import Vue from 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.esm.browser.min.js';
            import Vue from 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.esm.browser.js';

            const PanelHeading = {
                props: {
                    heading: {
                        type: String,
                        required: true
                    },
                    tg: {
                        type: Function,
                        default: () => {} // no operation function!
                    }
                },
                template: `
                    <div class="panel-heading" @click="tg">
                        {{heading}}
                    </div>
                `
            };
            
            const PanelBody = {
                props: {
                    body: {
                        type: String,
                        required: true
                    },
                    isOpen: {
                        type: Boolean,
                        default: true
                    }
                },
                template: `
                    <div class="panel-body" v-if="isOpen">
                        {{body}}
                    </div>
                `
            };

            // This is the definition for a reusable component
            const Panel = {
                props: [ 'heading', 'body' ], // never change props inside your component. Read/Interpolate them like you read/interpolate data of the component.
                components: {
                    // PanelHeading: PanelHeading
                    PanelHeading,
                    PanelBody
                },
                data() { // a method that returns an object with data
                    return {
                        isOpen: true
                    };
                },
                methods: {
                    toggle() {
                        this.isOpen = !this.isOpen;
                    }
                },
                template: `
                    <div class="panel">
                        <PanelHeading :heading="heading" :tg="toggle" />
                        <PanelBody :body="body" :isOpen="isOpen" />
                    </div>
                `
            };

            new Vue({
                el: '#root',
                components: { // locally registering the components
                    QnA: Panel
                    // Panel: Panel
                    // Panel
                },
                data: {
                    panels: [
                        {
                            id: 1,
                            heading: 'What is Vue', // try pass a number like 123 and check if warning appears in console
                            body: 'It is a JS library to build UI of frontend web apps'
                        },
                        {
                            id: 2,
                            heading: 'What is Node?',
                            body: 'It is a JS runtime that can be used to build backend of web apps'
                        },
                        {
                            id: 3,
                            heading: 'What is MongoDB?',
                            body: 'It is a NoSQL DB'
                        }
                    ]
                },
                template: `
                    <section>
                        <QnA
                            v-for="panel in panels"
                            :key="panel.id"
                            :heading="panel.heading"
                            :body="panel.body"
                        >
                        </QnA>
                    </section>
                `
            });
        </script>
    </body>
</html>